
* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }
 
      /* .content {
          margin: 40px 40px;
          padding-left: 40px;
      } */
      
      .content-table{
          border-collapse:collapse;
          margin:25px 40px;
          font-size:0.9em;
          min-width:400px;
          border-radius:5px 5px 0 0 ;
          overflow:hidden;
          box-shadow:0 0 20px rgba(0,0,0,0.15);
          font-size: 20px;
      
      }
      
      .content-table thead tr {
          background-color: #cf3d3c;
          color:#ffffff;
          text-align:center;
          font-weight:bold;
      }
      
      .content-table th,
      .content-table td{
          padding: 15px;
      }
      
      .content-table tbody tr{
          border-bottom:1px solid #dddddddd;
          text-align: center;
      }
      
      .content-table tbody tr:nth-of-type(even){
          background-color:#f3f3f3;
      }
      
      .content-table tbody tr:last-of-type{
          border-bottom:2px solid #cf3d3c;
      }
      
    
      
        .content-table button {
          padding: 6px 10px;
          cursor: pointer;
          background-color: #cf3d3c;
          border: none;
          color: white;
          border-radius: 6px;
      }   #searchBlood {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 5px;
    }
    
    #searchButton {
        padding: 8px 15px;
        background-color: #cf3d3c;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    